<template name="_header">
	<span class="loading {{#unless showLoading }}visuallyHidden{{/unless}}">loading...</span>
	
	<div class="navbar navbar-inverse navbar-fixed-top">		
		<div class="navbar-inner">
			<div class="container">
				{{ loginButtons align="right" }}					

				<h1 class="brand"><a href="/"><span class="fc-alpha">Ev</span><span class="fc-beta">Cy</span></a></h1>

				{{#each alerts}}
				<div data-id="{{id}}" class="alert alert-{{type}} alert-fixed fade in">{{message}} <a data-dismiss="alert" href="#" 
					class="close"></a></div>
				{{/each}}

				{{#if currentUser }}
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li class="active"><a href="#" data-page="eventList">Events</a></li>
						<li><a href="#" data-page="profile">Profile</a></li>
						{{#if currentUser.admin}}
						<li><a href="#" data-page="manageUsers">Manage Users</a></li>
						{{/if}}
						<li><a id="nav-invite" href="#">Invite</a></li>
					</ul>
				</div>
				{{/if}}
			</div>
		</div>
	</div>
</template>