<template name="addEvent">
	<form id="form-event">
		<fieldset>
			<legend>
				<i class="icon icon-calendar"></i>
				Create Event 
				<div class="fr">
					<button id="btn-add-event" type="submit" class="btn btn-primary">Save</button>
					<button class="cancel btn">Cancel</button>
				</div>
			</legend>			

			{{#isolate}}
			<div class="row-fluid">
				<div class="span3">
					<fieldset>
						<legend>What</legend>
						
						<label for="field-title">Event <i class="required">*</i></label>		
						<input id="field-title" name="event[title]" type="text" placeholder="Title for your event..." required autofocus>

						<label for="field-description">Description</label>
						<textarea name="event[description]" id="field-description" cols="30" rows="5"></textarea>

						<div class="uploader">
							<label for="picture-event">Picture</label>
							{{#if eventImageSrc }}
							<p>
								<img src="{{ eventImageSrc }}" alt="Event image source" width="300" height="300">
							</p>
							{{/if}}
							<input type="filepicker" name="picture" id="picture-event" data-fp-button-class="btn btn-primary">
						</div>
					</fieldset>		
				</div>
				
				<div class="span3">
					<fieldset>
						<legend>Where</legend>
						<label for="field-address">Place</label>
						<input type="text" name="event[location][place]" placeholder="e.g. My house">

						<label for="field-address">Address</label>
						<input type="text" name="event[location][address]" placeholder="e.g. 123 House Place">

						<label for="field-address">Map link</label>
						<input type="text" name="event[location][maplink]" placeholder="e.g. http://goo.gl/maps/vVhtJ">
					</fieldset>		
				</div>

				<div class="span5">
					<fieldset>
						<legend>When</legend>
						<div class="row">
							<div id="event-frequency" class="offset1 span11">
								<input id="radio-frequency-once" type="radio" class="visuallyhidden radio-custom" name="event[frequency]" value="onceoff" {{ freqChecked 'onceoff' }}>
								<label class="badge radio-custom-label" for="radio-frequency-once">Once off</label>

								<input id="radio-frequency-daily" type="radio" class="visuallyhidden radio-custom" name="event[frequency]" value="daily" {{ freqChecked 'daily' }}>
								<label class="badge radio-custom-label" for="radio-frequency-daily">Daily</label>

								<input id="radio-frequency-weekly" type="radio" class="visuallyhidden radio-custom" name="event[frequency]" value="weekly" {{ freqChecked 'weekly' }}>
								<label class="badge radio-custom-label" for="radio-frequency-weekly">Weekly</label>

								<input id="radio-frequency-monthly" type="radio" class="visuallyhidden radio-custom" name="event[frequency]" value="monthly" {{ freqChecked 'monthly' }}>
								<label class="badge radio-custom-label" for="radio-frequency-monthly">Monthly</label>

								<input id="radio-frequency-yearly" type="radio" class="visuallyhidden radio-custom" name="event[frequency]" value="yearly" {{ freqChecked 'yearly' }}>
								<label class="badge radio-custom-label" for="radio-frequency-yearly">Yearly</label>

								<input id="radio-frequency-custom" type="radio" class="visuallyhidden radio-custom" name="event[frequency]" value="custom" {{ freqChecked 'custom' }}>
								<label class="badge radio-custom-label" for="radio-frequency-custom">Custom</label>
							</div>
						</div>

						<hr>

						{{{ yieldFrequencyTemplate }}}
					<fieldset>
				</div>
			</div>
			{{/isolate}}
		</fieldset>
	</form>
</template>

<template name="_partial_starting_from">
	<label for="event-date">starting from</label>
	<input type="text" name="event[when][startDate]" id="event-date" class="datepicker" value="{{today}}">
</template>

<template name="frequency_onceoff">
	<label for="event-date">on the</label>
	<input type="text" name="event[when][date]" id="event-date" class="datepicker" value="{{today}}">

	<label for="event-time">at</label>
	<select name="event[when][time]" id="event-time">
		{{{ selectTimeOptions }}}
	</select>
</template>

<template name="frequency_daily">

	<label for="event-time">at</label>
	<select name="event[when][time]" id="event-time">
		{{{ selectTimeOptions }}}
	</select>

	<div>
		<input id="radio-frequency-everyday" type="radio" class="visuallyhidden radio-custom" name="event[when][frequency][weekdays]" value="everyday" checked>
		<label class="badge radio-custom-label" for="radio-frequency-everyday">Everyday</label>

		<input id="radio-frequency-weekdaysonly" type="radio" class="visuallyhidden radio-custom" name="event[when][frequency][weekdays]" value="true">
		<label class="badge radio-custom-label" for="radio-frequency-weekdaysonly">Weekdays only</label>

		<input id="radio-frequency-weekendsonly" type="radio" class="visuallyhidden radio-custom" name="event[when][frequency][weekdays]" value="true">
		<label class="badge radio-custom-label" for="radio-frequency-weekendsonly">Weekends only</label>
	</div>

	{{> _partial_starting_from}}

</template>

<template name="frequency_weekly">
	<p>every</p>
	<div id="event-frequency-dow">
		{{#each dayOfWeek}}
		<input id="checkbox-frequency-dow-{{ day }}" type="checkbox" class="visuallyhidden checkbox-custom" name="event[when][frequency][dow][]" value="{{ day }}">
		<label class="badge {{#if weekend}}badge-warning{{/if}} checkbox-custom-label" for="checkbox-frequency-dow-{{day}}">{{dayHuman}}</label>
		{{/each}}
	</div>

	{{> _partial_starting_from}}

	<label for="event-time">at</label>
	<select name="event[when][time]" id="event-time">
		{{{ selectTimeOptions }}}
	</select>
</template>

<template name="frequency_monthly">
	<div class="accordion" id="accordion-monthly">
	  <div class="accordion-group">
	    <div class="accordion-heading">
	    	<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-dayofmonth" href="#content-dayofmonth">Day of the month</a>
	    </div>
    	<div id="content-dayofmonth" class="accordion-body collapse in">
      	<div class="accordion-inner">
					<label for="event-dayofmonth" class="d-iblock">on the</label>
					<input type="number" name="event[when][dayofmonth]" id="event-dayofmonth" class="d-iblock short-input" value="{{todayDay}}">
					<p class="d-iblock">day of every month</p>
      	</div>
    	</div>
	  </div>
	  <div class="accordion-group">
	    <div class="accordion-heading">
	      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-monthly" href="#content-weekofmonth">
	        Week of the month
	      </a>
	    </div>
	    <div id="content-weekofmonth" class="accordion-body collapse">
	      <div class="accordion-inner">
					<label for="event-weekofmonth" class="d-iblock">on the</label>
					<input type="number" name="event[when][weekofmonth]" id="event-weekofmonth" class="d-iblock short-input" value="{{todayWeek}}">
					<p class="d-iblock">week of the month</p>

					<p>on these days</p>
	        {{#each dayOfWeek}}
					<input id="checkbox-frequency-dow-{{ day }}" type="checkbox" class="visuallyhidden checkbox-custom" name="event[when][frequency][dow][]" value="{{ day }}">
					<label class="badge {{#if weekend}}badge-warning{{/if}} checkbox-custom-label" for="checkbox-frequency-dow-{{day}}">{{dayHuman}}</label>
					{{/each}}
	      </div>
	    </div>

	    <p><strong>Next occurrence:</strong> {{nextMonthlyOccurence}}</p>
	  </div>
	</div>

	<label for="event-time">at</label>
	<select name="event[when][time]" id="event-time">
		{{{ selectTimeOptions }}}
	</select>

	{{> _partial_starting_from}}
</template>